server:
  port: 8082

spring:
  application:
    name: plazoleta-service

  datasource:
    url: jdbc:mysql://localhost:3308/plazoletadb
    username: plazoleta_user
    password: plazoleta_pass
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  mvc:
    problemdetails:
      enabled: true

  flyway:
    enabled: true
    locations: classpath:db/migration
